<!-- Terms and Privacy -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="shrink cell">
    <ul class="menu simple dark-gray small text-uppercase sans-regular letter-spacing--loose">
     <li><a href="/cv">CV</a></li>
     <li><a href="/terms">Subscribe</a></li>
     <li><a href="/terms">Terms</a></li>
     <li><a href="/privacy-policy">Privacy</a></li>
     <li><a href="https://www.garethjohnsdesign.com">Credit</a></li>
    </ul>
  </div>
</div>
<!-- End Terms and Privacy -->