<div class="title-bar" data-responsive-toggle="primary-menu" data-hide-for="medium">
  <div class="title-bar-title"><a href="/" class="header__home">Shaheen Baig Casting</a></div>
  <button class="hamburger hamburger--collapse" id="menuBar" data-toggler=".is-active" type="button" data-toggle="menuBar"><span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span></button>
</div>

<div class="top-bar" id="primary-menu">
  <div class="top-bar-left">
	<ul class="vertical medium-horizontal dropdown menu primary-menu" data-dropdown-menu>
	<li class="hide-for-small-only"><a href="/" class="header__home">Shaheen Baig Casting</a></li>
	</ul>
	
	<ul class="vertical medium-horizontal dropdown menu secondary-menu" data-dropdown-menu>
	{% for link in site.data.navigation.tags %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
            {% assign current = 'current' %}
        {% endif %}
        <li class="element show-for-small-only {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
    {% endfor %}
    </ul>

    
  </div>
  <div class="top-bar-right hide-for-small-only">
    <ul class="menu align-right">
	  {% for link in site.data.navigation.header %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
            {% assign current = 'current' %}
        {% endif %}
        <li class="element element-{{ link.color }} {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>