<!-- Overlay Menu -->
<div class="overlay" id="overlay" data-toggler=".open">
  <nav class="overlay-menu">
    <ul>
        <li class="element"><a href="/film">Film</a></li>
        <li class="element"><a href="/television">Television</a></li>
        <li class="element"><a href="/short">Short</a></li>
        <li class="element"><a href="/info">Info</a></li>
        <li class="element"><a href="/cv">CV</a></li>
        <li class="element"><a href="{{ site.twitter }}">Follow</a></li>
    </ul>
  </nav>
</div>
<!-- End Overlay Menu -->