<!--
<div class="row">

		
		<div class="small-6 columns">
		{% if page.next.url %}
  		<a href="{{page.next.url}}">
    		<div class="pagination">
      		<p><svg class="icon icon-arrow-left8"><use xlink:href="#icon-left-long"></use></svg></p>
      		<p class="hide-for-small-only">{{page.next.title}}</p>
    		</div>
  		</a>
		{% endif %}
		</div>
		
		<div class="small-6 columns text-right">
		{% if page.previous.url %}
  		<a href="{{page.previous.url}}">
    		<div class="pagination">
        <p><svg class="icon icon-arrow-right8"><use xlink:href="#icon-right-long"></use></svg></p>
    		<p class="hide-for-small-only">{{page.previous.title}}</p>
    		</div>
  		</a>
		{% endif %}
		</div>
		
</div>
-->


{% assign document = site.projects | sort: 'date' | reverse | where_exp: 'item', 'item.is-in-production != true' %}


{% for links in document %}
    {% if links.title == page.title %}

        {% unless forloop.first %}
            {% assign prevurl = prev.url %}

            {% assign prevtitle = prev.title %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}

            {% assign nexturl = next.url %}

            {% assign nexttitle = next.title %}
        {% endunless %}
    {% endif %}

    {% assign prev = links %}
{% endfor %}

{% if prevurl or nexturl %}
<div class="project__pagination">
	<div class="row">
        
        <div class="small-6 columns">
	    {% if prevurl %} 		
		<a href="{{prevurl}}">
    		<div class="pagination">
        <p><svg class="icon icon-arrow-right8"><use xlink:href="#icon-left-long"></use></svg></p>
    		<p class="hide-for-small-only">{{prevtitle}}</p>
    		</div>
  		</a>
  		
		{% endif %}
		</div>
                         
        
        <div class="small-6 columns text-right">
	    {% if nexturl %}
		<a href="{{nexturl}}">
    		<div class="pagination">
      		<p><svg class="icon icon-arrow-left8"><use xlink:href="#icon-right-long"></use></svg></p>
      		<p class="hide-for-small-only">{{nexttitle}}</p>
    		</div>
  		</a>
		{% endif %}
		</div>
		
    </div>
</div>
{% endif %}