{% set bodyClass = 'about' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% set allProjects = craft.entries
.section('projects')
.orderBy('postDate desc')
.limit(null)
.all() %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

<!-- Hero -->
{% include "_includes/blocks/hero" %}    
<!-- Hero -->

<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 medium-8 large-8 xxlarge-8 cell text-center">
{#           <div class="dark-gray small text-uppercase sans-regular letter-spacing--loose padding-bottom-1">About</div> #}
    {{entry.copy}}
  </div>
</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-6 cell text-center">
      <ul class="menu simple align-center">
        <li><a href="http://www.bafta.org" target="_blank"><svg class="icon icon-bafta"><use xlink:href="/assets/icons/symbol-defs.svg#icon-bafta"></use></svg></a></li>
        <li><a href="https://oscar.go.com" target="_blank"><svg class="icon icon-academy"><use xlink:href="/assets/icons/symbol-defs.svg#icon-academy"></use></svg></a></li>
        <li><a href="http://www.thecdg.co.uk" target="_blank"><svg class="icon icon-cdg"><use xlink:href="/assets/icons/symbol-defs.svg#icon-cdg"></use></svg></a></li>
      </ul>
    </div>
  </div>
</div>


<div class="grid-x align-center">
  <div class="small-12 medium-12 cell text-center">
  {% set image = entry.image.one() %}
  <div class="image--24-1" data-interchange="{% if image | length %}{% include "_includes/images/full/24-1/interchange-img-small-12-medium-12" %}{% endif %}"></div>
  </div>
</div>

<div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-12 medium-8 cell text-center">
          <div class="dark-gray small text-uppercase sans-regular letter-spacing--loose padding-bottom-1">Team</div>
 
            <ul class="menu align-center">
            {% for person in entry.people.all()  %}
              <li class="menu-text">{{ person.person }}</li>
            {% endfor %}
            </ul>

          </div>
        </div>
      </div>
</div>


{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}