@font-face {
  font-family: 'Canela Regular';
  src: 
  url('../fonts/canela-regular.woff2') format('woff2'), 
  url('../fonts/canela-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Bold';
  src: 
  url('../fonts/canela-bold.woff2') format('woff2'), 
  url('../fonts/canela-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Mackinac Book';
  src: 
  url('../fonts/p22-mackinac-book.woff2') format('woff2'), 
  url('../fonts/p22-mackinac-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Mackinac Book Italic';
  src: 
  url('../fonts/p22-mackinac-book-italic.woff2') format('woff2'), 
  url('../fonts/p22-mackinac-book-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Underground Medium';
  src: 
  url('../fonts/p22-underground-medium.woff2') format('woff2'), 
  url('../fonts/p22-underground-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Underground Book';
  src: 
  url('../fonts/p22-underground-book.woff2') format('woff2'), 
  url('../fonts/p22-underground-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Alpina Bold';
  src: 
  url('../fonts/gt-alpina-bold.woff2') format('woff2'), 
  url('../fonts/gt-alpina-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Alpina Medium';
  src: 
  url('../fonts/gt-alpina-medium.woff2') format('woff2'), 
  url('../fonts/gt-alpina-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}