@font-face {
  font-family: 'Neuzeit Grotesk Light';
  src: 
  url('../fonts/neuzeit-grotesk-light.woff2') format('woff2'), 
  url('../fonts/neuzeit-grotesk-light.woff') format('woff'),
  url('../fonts/neuzeit-grotesk-light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk Bold';
  src: 
  url('../fonts/neuzeit-grotesk-bold.woff2') format('woff2'), 
  url('../fonts/neuzeit-grotesk-bold.woff') format('woff'),
  url('../fonts/neuzeit-grotesk-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: 
  url('../fonts/brandon-grotesque-bold.woff2') format('woff2'), 
  url('../fonts/brandon-grotesque-bold.woff') format('woff'),
  url('../fonts/brandon-grotesque-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goldenbook Bold';
  src: 
  url('../fonts/goldenbook-bold.woff2') format('woff2'), 
  url('../fonts/goldenbook-bold.woff') format('woff'),
  url('../fonts/goldenbook-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Regular';
  src: 
  url('../fonts/canela-regular.woff2') format('woff2'), 
  url('../fonts/canela-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Bold';
  src: 
  url('../fonts/canela-bold.woff2') format('woff2'), 
  url('../fonts/canela-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Mackinac Book';
  src: 
  url('../fonts/p22-mackinac-book.woff2') format('woff2'), 
  url('../fonts/p22-mackinac-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bressay Regular';
  src: 
  url('../fonts/bressay-regular.woff2') format('woff2'), 
  url('../fonts/bressay-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Underground Medium';
  src: 
  url('../fonts/p22-underground-medium.woff2') format('woff2'), 
  url('../fonts/p22-underground-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'P22 Underground Book';
  src: 
  url('../fonts/p22-underground-book.woff2') format('woff2'), 
  url('../fonts/p22-underground-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}