---
layout: default
---

<section class="cv">
  
<!-- Film -->
<div class="row">
<div class="small-12 columns text-center">
  <h4 class="excerpt__highlight">Film</h4>
</div>
</div>

<div class="row show-for-medium cv__titles">
  <div class="small-12 medium-3 large-3 columns">Title</div>
  <div class="small-12 medium-2 large-2 columns">Director</div>
  <div class="small-12 medium-5 large-5 columns">With</div>
  <div class="small-12 medium-1 large-1 columns show-for-medium">IMDB</div>
  <div class="small-12 medium-1 large-1 columns show-for-medium">Date</div>
</div>

{% assign films = site.projects | where:"medium","film" | sort: 'date' | reverse %}
{% for project in films %}
<div class="row">
<div class="small-12 medium-3 large-3 columns">{{project.title}}</div>
<div class="small-12 medium-2 large-2 columns">{{project.director}}</div>
<div class="small-12 medium-5 large-5 columns">{{project.with}}</div>
<div class="small-12 medium-1 large-1 columns show-for-medium"><a href="{{project.imdb}}" target="_blank">IMDB</a>
</div>
<div class="small-12 medium-1 large-1 columns show-for-medium">
{{project.date | date: '%Y'}}
</div>
</div>
<hr>
{%endfor%}
<!-- End Film -->

<!-- Television -->
<div class="row cv__title">
<div class="small-12 columns text-center">
  <h4 class="excerpt__highlight">Television</h4>
</div>
</div>

<div class="row show-for-medium cv__titles">
  <div class="small-12 medium-3 large-3 columns">Title</div>
  <div class="small-12 medium-2 large-2 columns">Director</div>
  <div class="small-12 medium-5 large-5 columns">With</div>
  <div class="small-12 medium-1 large-1 columns show-for-medium">IMDB</div>
  <div class="small-12 medium-1 large-1 columns show-for-medium">Date</div>
</div>

{% assign television = site.projects | where:"medium","television" | sort: 'date' | reverse %}
{% for project in television %}
<div class="row">
<div class="small-12 medium-3 large-3 columns">{{project.title}}</div>
<div class="small-12 medium-2 large-2 columns">{{project.director}}</div>
<div class="small-12 medium-5 large-5 columns">{{project.with}}</div>
<div class="small-12 medium-1 large-1 columns show-for-medium"><a href="{{project.imdb}}" target="_blank">IMDB</a>
</div>
<div class="small-12 medium-1 large-1 columns show-for-medium">
{{project.date | date: '%Y'}}
</div>
</div>
<hr>
{%endfor%}
<!-- End Television -->

<!-- Short -->
<div class="row cv__title">
<div class="small-12 columns text-center">
  <h4 class="excerpt__highlight">Short</h4>
</div>
</div>

<div class="row show-for-medium cv__titles">
  <div class="small-12 medium-3 large-3 columns">Title</div>
  <div class="small-12 medium-2 large-2 columns">Director</div>
  <div class="small-12 medium-5 large-5 columns">With</div>
  <div class="small-12 medium-1 large-1 columns show-for-medium">IMDB</div>
  <div class="small-12 medium-1 large-1 columns show-for-medium">Date</div>
</div>

{% assign short = site.projects | where:"medium","short" | sort: 'date' | reverse %}
{% for project in short %}
<div class="row">
<div class="small-12 medium-3 large-3 columns">{{project.title}}</div>
<div class="small-12 medium-2 large-2 columns">{{project.director}}</div>
<div class="small-12 medium-5 large-5 columns">{{project.with}}</div>
<div class="small-12 medium-1 large-1 columns show-for-medium"><a href="{{project.imdb}}" target="_blank">IMDB</a>
</div>
<div class="small-12 medium-1 large-1 columns show-for-medium">
{{project.date | date: '%Y'}}
</div>
</div>
<hr>
{%endfor%}
<!-- End Short -->

</section>