---
layout: default
---

<div class="index__wrapper">
{% include navigation.html %}
</div>

<div class="index__carousel">
{% include carousel.html %}
</div>

<section class="index__content">
<div class="row">
	<div class="columns">
		<p class="text-center excerpt__highlight">Recent</p>
	</div>
</div>

<div class="row">
{% assign projects = site.projects | sort: 'date' | reverse | where_exp: 'item', 'item.is-in-production != true' %}
{% for project in projects limit:6 %}
<div class="small-12 medium-6 large-4 columns">
{% include excerpt.html %}
</div>
{% endfor %}
</div>

</section>