---
layout: default
---

<section class="projects__content">

<!-- Title -->
<div class="row page__title">
	<div class="small-12 columns text-center">
		<h4 class="excerpt__highlight">{{ page.title }}</h4>
	</div>
</div>
<!-- End Title -->

<!-- Content -->
<div class="row align-center text-center">
	<div class="small-11 medium-10 large-8 columns">
		{{ page.content | markdownify }}
	</div>
</div>
<!-- End Content -->

<!-- Title -->
<div class="row contact">
	<div class="small-12 columns text-center">
		<h4 class="excerpt__highlight">Contact</h4>
	</div>
</div>
<!-- End Title -->

<!-- Content -->
<div class="row align-center text-center">
	<div class="small-11 medium-10 large-8 columns">
		<p><a href="mailto:{{site.email}}">{{site.email}}</a><br>
    <a href="tel:02072720522">+44 (0)20 7272 0522</a><p>
	</div>
</div>
<!-- End Content -->

<!-- Title -->
<div class="row contact">
	<div class="small-12 columns text-center">
		<h4 class="excerpt__highlight">Colophon</h4>
	</div>
</div>
<!-- End Title -->

<!-- Content -->
<div class="row align-center text-center">
	<div class="small-11 medium-10 large-8 columns">
		<p>All images and videos © of their respective owners<br>
    <a href="http://garethjohnsdesign.com" target="_blank">Site Design + Development - Gareth Johns</a><p>
	</div>
</div>
<!-- End Content -->

</section>